.mainFrame {
  display: flex;
  position: relative;
}

div {
  display: flex;
  width: 100vw;
  height: 100vh;
  color: black;

  justify-content: center;
  align-items: center;
}

table {
  display: block;
  justify-content: space-around;
  /*setzt div als grenze  danach muss man scrollen */
  overflow: scroll;
  width: 50vw;
  height: 50vh;
  border: 1px solid;
  padding: 8px;
}

tr,
th,
td {
  width: 50vw;
  height: 2vh;
  border: 1px solid;
  border-radius: 2px;
  padding: 8px;
}

.accepButton {
  background-color: green;
  border-radius: 2px;
}

.reject {
  border-radius: 2px;
  background-color: red;
}

.logo {
  position: absolute;
  bottom: -38vh;
  left: -42vw;
}
